body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color:rgb(206, 206, 206);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

tr, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}